.container {
    position: relative;
    width: 35em;
    margin: 0 auto;
    margin-bottom: 8vw;
}

.container h1 {
    font-weight: normal;
}

.container p {
    line-height: 1.2em;
    background: #e3e3e3;
    color: #555;
    padding: 2em;
    text-align: justify;
    text-indent: 1.5em;
    border-radius: .5em;
}